#container[b-3dv61wv9ri]{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid black;
    padding:20px;
    padding-top: 40px;
    width: 650px;
    height: 500px;
    align: center;
    box-shadow: 3px 6px 3px #bebebf;
    border-radius: 10px;
}

h1[b-3dv61wv9ri]{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: solid black;
}  

button[b-3dv61wv9ri]{
    background-color: white;
    color: black;
    border-width: thin;
    border-color: #929292;
    height: 100px;
    width: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 3px 3px 3px #bebebf;
    
}

button:hover[b-3dv61wv9ri]
{
    background-color: #ededed;

}
#north-west-b[b-3dv61wv9ri], #north-east-b[b-3dv61wv9ri], #china-b[b-3dv61wv9ri]
{
    margin-bottom: 50px;
    margin-top: 60px;
    margin-left: 25px;
    margin-right: 25px;
}
#south-west-b[b-3dv61wv9ri]
{
 
   margin-left: 100px;
    margin-right: 80px;
}
#south-east-b[b-3dv61wv9ri]
{
}
