
@page "/Database"

<PageTitle>Database</PageTitle>
<div id = "heading-container">
<h1>Database</h1>
<label for="locations">Choose a Location:</label>
<select name="locations" id="locations">
    <option value="north-east">North-East</option>
    <option value="north-west">North-West</option>
    <option value="south-east">South-East</option>
    <option value="south-west">South-West</option>
    <option value="china">China</option>
</select>
</div>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Id</th>
        <th>In-Date</th>
        <th>Description</th>
        <th>Quantity on Hand</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Lorem</td>
        <td>1111</td>
        <td>Lorem Ipsum</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>10/12/21</td>
        <td>12.00</td>
    </tr>
    <tr>
        <td>Lorem</td>
        <td>1111</td>
        <td>Lorem Ipsum</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>10/12/21</td>
        <td>12.00</td>
    </tr>
    <tr>
        <td>Lorem</td>
        <td>1111</td>
        <td>Lorem Ipsum</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>10/12/21</td>
        <td>12.00</td>
    </tr>
    <tr>
        <td>Lorem</td>
        <td>1111</td>
        <td>Lorem Ipsum</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>10/12/21</td>
        <td>12.00</td>
    </tr>
    <tr>
        <td>Lorem</td>
        <td>1111</td>
        <td>Lorem Ipsum</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>10/12/21</td>
        <td>12.00</td>
    </tr>
    <tr>
        <td>Lorem</td>
        <td>1111</td>
        <td>Lorem Ipsum</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit</td>
        <td>10/12/21</td>
        <td>12.00</td>
    </tr>
    </tbody>
</table>
@code {

}


