@page "/"

<PageTitle>Home</PageTitle>

<form onsubmit="VerifyLogin">
    <div class="log-in-container">
        <h1 id ="LogIn">Login</h1>
        <label id="username_label" for="username">Username</label>
        <input id="username"/>
         <label id="password_label" for="password">Password</label>
        <input id="password"/>
        <button type="submit">Log In</button>


    </div>
</form>

@code{

    private async Task VerifyLogin()
    {
        
    }

}