
.log-in-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid black;
    padding:20px;
    padding-top: 40px;
    width: 500px;
    height: 450px;
    align: center;
    box-shadow: 3px 6px 3px #bebebf;
    border-radius: 10px;
}

label, input {
    margin-left: 10px;
    display:flex;
    flex-direction:column;
}

input{
    width: 430px;
    height: 40px;
    border-radius: 15px;
    border-width: thin;
}

#username_label
{
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

#password_label
{
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 20px; 
}
#username
{
    margin-bottom: 20px;
}

h1 {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: solid black;
}

button {
    background-color: #319CFF;
    color: white;
    font-weight: bold;
    margin-left: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 15px;
    font-size: 20px;
    margin-top: 40px;
    align-content: center;

}



