@page "/"

<PageTitle>Home</PageTitle>
@inject NavigationManager NavigationManager
    <div class="log-in-container">
        <h1 id ="LogIn">Login</h1>
        <label id="username_label" for="username">Username</label>
        <input id="username" @bind="Username"/>
         <label id="password_label" for="password">Password</label>
        <input id="password" @bind="Password" />
        <button type="submit" @onclick="() => LoginNavigate()">Log In</button>
        

    </div>
    <p id="test" @bind="TestString">Test</p>
@code{

    private async void LoginNavigate()
    {
        Console.WriteLine("LoginNavigate() called");
        string result = LogIn();
        if(result == "correct")
        {
            if(Employee.Permission == "Floor")
            {
                NavigationManager.NavigateTo("Database");
            }
            else
            {
                NavigationManager.NavigateTo("EditableDatabase");
            }
        }
    }

}