@page "/Location"

<PageTitle>Location</PageTitle>


<form onsubmit="SelectLocation">
<div id="container">
    <h1>Select a Location</h1>
    <button type="submit" id="north-west-b">North-West</button>
    <button type="submit" id="north-east-b">North-East</button>
        <button type="submit" id="china-b">China</button>
    <button type="submit" id="south-west-b">South-West</button>
    <button type="submit" id="south-east-b">South-East</button>

</div>
</form>
@code {

    private async Task SelectLocation()
    {
        
    }
}
