@page "/Location"
@inject NavigationManager NavigationManager
<PageTitle>Location</PageTitle>


<form onsubmit="SelectLocation">
<div id="container">
    <h1>Select a Location</h1>
    <button type="button" id="north-west-b">North-West</button>
    <button type="button" id="north-east-b">North-East</button>
    <button type="button" id="china-b">China</button>
    <button type="button" id="south-west-b">South-West</button>
    <button type="button" id="south-east-b">South-East</button>

</div>
</form>
@code {

    // Location selection
    private void SelectLocation(string location) 
    {
        NavigationManager.NavigateTo(location);
        
    }
}
